<h3>Screen position</h3>
<table>
  <tbody>
    <tr>
      <td>screenX</td>
      <td class="monospace">{{round-float windoc.screenX}}</td>
      <td class="delimeter center-align">,</td>
      <td>screenY</td>
      <td class="monospace">{{round-float windoc.screenY}}</td>
    </tr>
  </tbody>
</table>
