<h3>Resize example</h3>
<table>
  <tbody>
    <tr>
      <td>innerWidth</td>
      <td class="monospace">{{round-float windoc.innerWidth}}</td>
      <td class="delimeter center-align">&times;</td>
      <td>innerHeight</td>
      <td class="monospace">{{round-float windoc.innerHeight}}</td>
    </tr>
    <tr>
      <td>outerWidth</td>
      <td class="monospace">{{round-float windoc.outerWidth}}</td>
      <td class="delimeter center-align">&times;</td>
      <td>outerHeight</td>
      <td class="monospace">{{round-float windoc.outerHeight}}</td>
    </tr>
  </tbody>
</table>
